.table {
    min-width: 650px;
}

.title {
    text-align: center;
    padding: 35px 35px;
    font-size: 40px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-international-vegetarian-day-simple-and-fresh-banner-image_197020.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.search{
    background-color: white;
    margin-left: 200px;
    width: 40%;
    float: right;
}

.select{
    width: 200px;
}


.text{
    font-weight: bold;
    color : maroon;
    font-style: italic;
}


.export{
    width: 200px;
    height: 40px;
    font-size: 17px;
    background-color:darkgray;
    color: black;
    font-weight: bold;
}
