.table {
    min-width: 650px;
}

.title {
    text-align: center;
    padding: 35px 0px;
}
.status {
    font-weight: bold;
    font-size: 0.75rem;
    color: white;
    border-radius: 8;
    padding: 3px 10px;
    display: inline-block;
}