.myNavBar {
    background: #666666;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 99;

    @media screen and (max-width: 960px) {
        transition: 0.8s all ease;
    }
}

.myNavbarContainer {
    display: flex;
    justify-content: space-between !important;
    height: 80px;
    z-index: 1;
    width: 110%;
    max-width: 1100px;
}

.myNavbarLogo {
    color: white;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}

.mobileIcon {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobileIcon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff;
    }
}

.navMenu ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -22px;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

@media screen and (max-width: 768px) {
    .navMenu ul {
        display: none;
    }
}

.navMenu ul li {
    height: 80px; 
}

.navLink {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.navLink:active {
    border-bottom: 3px solid #01bf71;
}


