.mySidebarContainer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #0d0d0d;
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    opacity: 100%;
    top: 0;
}

.mySidebarContainerHide {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #0d0d0d;
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    opacity: 0%;
    top: -100%;
}

.closeIcon {
    color: #fff;
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.sideMenu {
    color: #fff;
}

.sideMenu ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 80px);
    text-align: center;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .navMenu ul {
        grid-template-rows: repeat(6, 60px);
    }
}

.sideLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    transition: 0.2s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.sideLink:hover {
    color: #01bf71;
    transition: 0.2s ease-in-out;
}

